apiVersion: batch/v1
kind: Job
metadata:
  name: kong-migrations
  namespace: kong
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
      - name: kong-migrations
        image: kong/kong-gateway:3.12.0.0
        env:
          - name: KONG_DATABASE
            value: "postgres"
          - name: KONG_PG_HOST
            value: "kong-postgres"
          - name: KONG_PG_PASSWORD
            valueFrom:
              secretKeyRef:
                name: kong-secrets
                key: KONG_PG_PASSWORD
          - name: KONG_PG_USER
            value: "kong"
          - name: KONG_PG_DATABASE
            value: "kong"
          - name: KONG_LICENSE_DATA
            valueFrom:
              secretKeyRef:
                name: kong-secrets
                key: KONG_LICENSE_DATA
        command: ["kong", "migrations", "bootstrap"]
