apiVersion: v1
kind: Service
metadata:
  name: kong-proxy
  namespace: kong
spec:
  selector:
    app: kong
  ports:
    - name: proxy-http
      port: 8000
      targetPort: 8000
    - name: proxy-https
      port: 8443
      targetPort: 8443
---
apiVersion: v1
kind: Service
metadata:
  name: kong-admin
  namespace: kong
spec:
  selector:
    app: kong
  ports:
    - name: admin-http
      port: 8001
      targetPort: 8001
    - name: admin-gui
      port: 8002
      targetPort: 8002
  type: ClusterIP
