apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kong-postgres
  namespace: kong
spec:
  selector:
    matchLabels:
      app: kong-postgres
  serviceName: kong-postgres
  replicas: 1
  template:
    metadata:
      labels:
        app: kong-postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15-alpine
        ports:
        - containerPort: 5432
        env:
          - name: POSTGRES_USER
            value: "kong"
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: kong-secrets
                key: KONG_PG_PASSWORD
          - name: POSTGRES_DB
            value: "kong"
        volumeMounts:
          - name: pgdata
            mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: pgdata
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi
